body>div{
}
.left-box{
    float:left;
}
.right-box{
    float:right;
}
.clear{
    clear:both;
}
.leftbox{
    width:100px;
    height:100px;
    background-color: red;
    position:absolute;
    animation: red 4s linear 5 none alternate;
}
.rightbox{
    width:100px;
    height:100px;
    background-color: green;
    position:absolute;
    right:0;
    animation: green 4s linear 5 none alternate;
}
img{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.circle-r, .circle-l{
    width:200px;
    height:200px;
    border: 10px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:200px;
    animation: circle 1s ease infinite forwards;
}
.box-l, .box-r{
    width:60px;
    height:60px;
    border: 5px solid #002db3;
    position:absolute;
    animation:box 1s ease infinite alternate-reverse;
}
@keyframes box{
    0%{
        border:10px solid #002db3;
    }
    25%{
        border: 20px solid #660066;
    }
    50%{
        border:30px solid blue;
    }
    75%{
        border:20px solid lime;
        
    }
    100%{
        border:10px solid purple;
        transform:rotate(360grad);
    }
}

@keyframes circle{
    0%{
        border-color:red;
        transform:scale(1);
    }
    25%{
        border-color:blue;
        transform:scale(1.1);
    }
    50%{
        border-color:yellow;
        transform:scale(1.2);
    }
    75%{
        border-color:lime;
        transform:scale(1.1);
    }
    100%{
        border-color:purple;
        transform:scale(1);
    }
}

@keyframes green{
    0%{
        background-color: green;
        top:0;
        right:0;
    }
    25%{
        background-color: pink;
        top:0;
        right:500px;
    }
    50%{
        background-color: blue;
        top:500px;
        right:500px;
        border-radius:50%;
    }
    75%{
        background-color: red;
        top:500px;
        right:0;
    }
    100%{
        background-color: purple;
        top:0;
        right:0;
        border-radius: 0%;
    }

}
@keyframes red{
    0%{
        background-color: green;
        top:0;
        left:0;
    }
    25%{
        background-color: pink;
        top:0;
        left:500px;
    }
    50%{
        background-color: blue;
        top:500px;
        left:500px;
        border-radius:50%;
    }
    75%{
        background-color: red;
        top:500px;
        left:0;
    }
    100%{
        background-color: purple;
        top:0;
        left:0;
        border-radius: 0%;
    }

}